@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --top-bg: #f9eaa2;
  --surface: #f5f5f5;
  --foreground: #111111;
  --muted: #6b7280;
  --border: #e5e7eb;
  --accent: #e1e1e189;
  --top-bg-height: 300px;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to bottom,
    var(--top-bg) 0,
    var(--top-bg) var(--top-bg-height),
    var(--background) var(--top-bg-height),
    var(--background) 100%
  );
  background-attachment: fixed;
  font-family: "Inter", "Noto Sans TC", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
